{% extends "base.html" %}

{% block content %}

<div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
        <h1>{{ RACEDATE }} {% for state in states %}{{ state.statepostal }} {% endfor %}</h1>
    </div>
</div>

<div class="row" style="margin-bottom:30px;">
    <div class="col-md-10">
        <button class="btn btn-large btn-default script" data-script="reload"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;Reload</button>

        <button class="btn btn-large btn-default script" data-script="delegates"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Delegates</button>

        <button class="btn btn-large btn-default script" data-script="update"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Update</button>

        <button class="btn btn-large btn-default disabled" data-script="bake"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;Bake</button>
    </div>
    <div class="col-md-2">
        <div class="input-group">
          <input id="value-timeout" type="text" class="form-control" value="{{ timeout }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="set-timeout">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;Set
            </button>
          </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <a href="..">&larr; Back to {{ RACEDATE }}</a>
    </div>
</div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
        <h3>Archived files</h1>
        <table class="table">
        <tr>
            <th>Index</th>
            <th>Time</th>
            <th>File</th>
        </tr>
        {% for f in files %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ f.date }}</td>
            <td><a href="/elections/2017/admin/{{ RACEDATE }}/archive/{{ f.name }}">{{ f.name }}</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
