{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>
            {{ RACEDATE }}
            <small id="target-nyt_race_name">{% if race.nyt_race_name %}{{ race.nyt_race_name }}{% else %}{{ race }}{% endif %}</small>
        </h1>
    </div>
</div>

<div class="row" style="margin:15px 0;">
    <div class="col-md-12">
        <p id="target-nyt_race_description" style="font-size: 24px;">{% if race.nyt_race_description %}{{ race.nyt_race_description }}{% else %}{% endif %}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table races" id="race-{{ race.raceid }}">
            <tr>
                <td><strong>Accept AP calls</strong></td><td><input class="race-ap-toggle" data-raceid="{{ race.raceid }}" type="checkbox" {% if race.accept_ap_calls %}checked {% endif%}data-toggle="toggle" data-onstyle="success"></td>
            </tr>
            <tr>
                <td><strong>Race name</strong></td><td><input class="form-control nyt_race_name" name="nyt_race_name" data-raceid="{{ race.raceid }}" value="{% if race.nyt_race_name %}{{ race.nyt_race_name }}{% else %}{{ race }}{% endif %}"></td>
            </tr>
            <tr>
                <td><strong>Race description</strong></td><td><textarea class="form-control nyt_race_description" name="nyt_race_description" data-raceid="{{ race.raceid }}" >{% if race.nyt_race_description %}{{ race.nyt_race_description }}{% else %}{% endif %}</textarea></td>
            </tr>

            <tr>
                <td><strong>Race preview</strong></td><td><textarea class="form-control nyt_race_preview" name="nyt_race_preview" data-raceid="{{ race.raceid }}" >{% if race.nyt_race_preview %}{{ race.nyt_race_preview }}{% else %}{% endif %}</textarea></td>
            </tr>

            <tr>
                <td><strong>Delegate allocation</strong></td><td><textarea class="form-control nyt_delegate_allocation" name="nyt_delegate_allocation" data-raceid="{{ race.raceid }}">{% if race.nyt_delegate_allocation %}{{ race.nyt_delegate_allocation }}{% else %}{% endif %}</textarea></td>
            </tr>

            <tr>
                <td><strong>Race result description</strong></td><td><textarea class="form-control nyt_race_result_description" name="nyt_race_result_description" data-raceid="{{ race.raceid }}" >{% if race.nyt_race_result_description %}{{ race.nyt_race_result_description }}{% else %}{% endif %}</textarea></td>
            </tr>

            <tr>
                <td><strong>Winner</strong></td>
                <td>
                    <select{% if race.accept_ap_calls %} disabled{% endif %} class="form-control nyt_winner" name="nyt_winner" data-raceid="{{ race.raceid }}">
                        {% for c in candidates %}
                         <option{% if race.nyt_winner == c.candidateid %} selected{% endif %} value="{{ c.candidateid }}">{{ c }}</option>
                        {% endfor %}
                        <option{% if not race.nyt_winner %} selected{% endif %} value=""></option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if candidates %}
        <h3>Candidates</h3>
        <table class="table candidates">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Display?</th>
            </tr>
            {% for c in candidates %}
            <tr id="candidate-{{ c.candidateid }}">
                <td><input data-candidateid="{{ c.candidateid }}" class="form-control candidate-name" name="nyt_candidate_name" value="{{ c }}"></td>
                <td><textarea data-candidateid="{{ c.candidateid }}" class="form-control candidate-description" name="nyt_candidate_description">{% if c.nyt_candidate_description %}{{ c.nyt_candidate_description }}{% endif %}</textarea></td>
                <td><input data-candidateid="{{ c.candidateid }}" type="checkbox" class="form-control candidate-important" name="nyt_candidate_important" {% if c.nyt_candidate_important %}checked {% endif %}data-toggle="toggle" data-onstyle="success"></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function(){
        var update_race_text = function(data, race_id){
            /*
                Update the static text for a race when it is changed.
            */
            $('#target-nyt_race_description').text(data['nyt_race_description']);
            $('#target-nyt_race_name').text(data['nyt_race_name']);
            var winner = data['accept_ap_calls'] = $('#race-' + race_id + ' input.race-ap-toggle').prop('checked');
            if (winner) {
                $('#race-' + race_id + ' select.nyt_winner').prop('disabled', true);
            } else {
                $('#race-' + race_id + ' select.nyt_winner').prop('disabled', false);
            }
        };

        var submit_race = function(data){
            /*
                Submit the current state of a race in the form.
            */
            var race_id = $(this).attr('data-raceid');
            var data = {};

            data['accept_ap_calls'] = $('#race-' + race_id + ' input.race-ap-toggle').prop('checked');
            data['nyt_race_description'] = $('#race-' + race_id + ' textarea.nyt_race_description').val()
            data['nyt_race_preview'] = $('#race-' + race_id + ' textarea.nyt_race_preview').val()
            data['nyt_race_result_description'] = $('#race-' + race_id + ' textarea.nyt_race_result_description').val()
            data['nyt_delegate_allocation'] = $('#race-' + race_id + ' textarea.nyt_delegate_allocation').val()
            data['nyt_race_name'] = $('#race-' + race_id + ' input.nyt_race_name').val()
            data['nyt_winner'] = $('#race-' + race_id + ' select.nyt_winner').val()

            console.log(data);

            $.ajax({
                type: "POST",
                url: '/elections/2016/admin/{{ RACEDATE }}/race/' + race_id + '/',
                data: data,
                success: function(response){ update_race_text(data,race_id); },
                dataType: 'JSON'
            });
        };

        var submit_candidate = function(data){
            /*
                Submit the current state of a candidate in the form.
            */
            var candidate_id = $(this).attr('data-candidateid');
            var data = {};

            data['nyt_candidate_name'] = $('#candidate-' + candidate_id + ' input.candidate-name').val();
            data['nyt_candidate_description'] = $('#candidate-' + candidate_id + ' textarea.candidate-description').val();
            data['nyt_candidate_important'] = $('#candidate-' + candidate_id + ' input.candidate-important').prop('checked');

            console.log(data);

            $.ajax({
                type: "POST",
                url: '/elections/2016/admin/{{ RACEDATE }}/candidate/' + candidate_id + '/',
                data: data,
                success: function(response){ console.log(response); },
                dataType: 'JSON'
            });
        };

        $('table.races .form-control').on('blur', submit_race);
        $('table.candidates .form-control').on('blur', submit_candidate);
        $('input.candidate-important').on('change', submit_candidate)
        $('select.nyt_winner').on('change', submit_race);
        $('input.race-ap-toggle').on('change', submit_race);
    });
</script>
{% endblock %}