{% extends "base.html" %}

{% block content %}
<style>
    tr.sorting-row td {
        background-color: rgb(212, 232, 193);
    }
    td.sort-handler {
        cursor: move;
        font-weight: bold;
        background-color: #efefef;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h1 style="margin-bottom:40px;">{{ RACEDATE }} {{ race.statepostal }}, {{ race.officename }} {{ race.seatname }}</h1>
    </div>
</div>

{% if ap_winner %}
<div class="row" style="margin:15px 0;">
    <div class="col-md-12">
        <p style="font-size: 32px;">The AP has declared <strong style="color: rgb(51, 102, 0);">{{ ap_winner.first }} {{ ap_winner.last }}</strong> the winner.</p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <table class="table races" id="race-{{race.statepostal}}-{{ race.raceid }}">
            <tr>
                <td><strong>Accept AP calls</strong></td><td><input class="race-ap-toggle" data-raceid="{{ race.race_unique_id }}" type="checkbox" {% if race.accept_ap_calls %}checked {% endif %}data-toggle="toggle" data-onstyle="success"></td>
            </tr>
            <tr>
                <td><strong>Winner</strong></td>
                <td>
                    <select{% if race.accept_ap_calls %} disabled{% endif %} class="form-control nyt_winner" name="nyt_winner" data-raceid="{{ race.race_unique_id }}">
                        <option value=""></option>
                        {% for c in candidates %}
                         <option{% if c.nyt_winner %} selected{% endif %} value="{{ c.candidate_unique_id }}">{{ c.last }}, {{ c.first }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row" id="candidates" {% if race.accept_ap_calls %}style="display:none;"{% endif %}>
    <div class="col-md-12">
        <table class="table candidates" id="race-{{race.statepostal}}-{{ race.raceid }}">
            <tr>
                <th>Name</th>
                <th>Party</th>
                <th>Runoff?</th>
            </tr>
            {% for c in candidates %}
            <tr>
                <td>{{ c.last }}, {{ c.first }}</td>
                <td>{{ c.party }}</td>
                <td><input class="candidate-runoff-toggle" data-candidate-name="{{ c.last }}, {{ c.first }}" data-candidate-unique-id="{{ c.candidate_unique_id }}" type="checkbox" {% if c.nyt_runoff %}checked {% endif %}data-toggle="toggle" data-onstyle="success"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-12">
      <button data-raceid="{{ race.race_unique_id }}" id="submit-runoff" class="btn btn-success btn-xl">Submit runoff</button>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function(){
        var update_race_inputs = function(data, race_id){
            /*
                Update the static text for a race when it is changed.
            */
            var winner = data['accept_ap_calls'] = $('#race-' + race_id + ' input.race-ap-toggle').prop('checked');
            if (winner) {
                $('#race-' + race_id + ' select.nyt_winner').prop('disabled', true);
                $('#candidates').hide();
            } else {
                $('#race-' + race_id + ' select.nyt_winner').prop('disabled', false);
                $('#candidates').show();
            }
        };

        var submit_race = function(data){
            /*
                Submit the current state of a race in the form.
            */
            var race_id = $(this).attr('data-raceid');

            console.log(race_id);

            var data = {};

            data['accept_ap_calls'] = $('#race-' + race_id + ' input.race-ap-toggle').prop('checked');
            data['nyt_race_description'] = $('#race-' + race_id + ' textarea.nyt_race_description').val()
            data['nyt_race_preview'] = $('#race-' + race_id + ' textarea.nyt_race_preview').val()
            data['nyt_race_result_description'] = $('#race-' + race_id + ' textarea.nyt_race_result_description').val()
            data['nyt_delegate_allocation'] = $('#race-' + race_id + ' textarea.nyt_delegate_allocation').val()
            data['nyt_race_name'] = $('#race-' + race_id + ' input.nyt_race_name').val()
            data['nyt_winner'] = $('#race-' + race_id + ' select.nyt_winner').val()

            console.log(data);

            $.ajax({
                type: "POST",
                url: '/elections/2017/admin/{{ RACEDATE }}/race/' + race_id + '/',
                data: data,
                success: function(response){ update_race_inputs(data, race_id); },
                dataType: 'JSON'
            });
        };

        var submit_runoff = function(data){
            var race_id = $(this).attr('data-raceid');
            var data = {};
            data['nyt_runoff'] = []
            data['nyt_winner'] = '';

            $('input.candidate-runoff-toggle:checked').each(function(i,c){
              data['nyt_runoff'].push($(c).attr('data-candidate-unique-id'));
            });

            data['nyt_runoff'] = data['nyt_runoff'].join();

            $.ajax({
                type: "POST",
                url: '/elections/2017/admin/{{ RACEDATE }}/race/' + race_id + '/',
                data: data,
                success: function(response){ update_race_inputs(data, race_id); },
                dataType: 'JSON'
            });
        };

        var confirm_runoff_call = function() {
          var nyt_runoff = []
          var confirmation = null;

          $('input.candidate-runoff-toggle:checked').each(function(i,c){
            nyt_runoff.push($(c).attr('data-candidate-name'));
          });

          if (nyt_runoff.length == 0) {
            // set no winner
            confirmation = confirm("Are you sure that you want to set no candidates involved in the runoff?");
          } else {
            // set the runoff candidates
            confirmation = confirm("Are you sure that you want to set the following candidates to be involved in the runoff?\n\n" + nyt_runoff.join("\n") );
          }
          if (confirmation === true){
            // execute submit_runoff function with original context
            submit_runoff.bind(this)();
          } else {
            // reload the page to reset the state
            location.reload();
          }

        }

        var confirm_race_call = function() {
            var candidates = {
              {% for c in candidates %}"{{ c.candidate_unique_id}}": "{{ c.last }}, {{ c.first }}"{% if not loop.last %},{% endif %}
              {% endfor %}
            };

            var candidate_id = $(this).val();
            var nyt_candidate_name = candidates[candidate_id];
            var confirmation = null;

            if (!nyt_candidate_name && candidate_id === '') {
                // Set no winner.
                confirmation = confirm("Are you sure that you want to set no winner?");
            } else {
                // Set a race winner.
                confirmation = confirm("Are you sure that you want to set " + nyt_candidate_name + " as the winner?");
            }
            if (confirmation === true) {
                // execute submit_race function with original context
                submit_race.bind(this)();
            } else {
                // reload the page so that we don't do anything
                location.reload();
            }
        }

        $('table.races .form-control').on('blur', submit_race);
        $('select.nyt_winner').on('change', confirm_race_call);
        $('input.race-ap-toggle').on('change', submit_race);
        // $('input.candidate-runoff-toggle').on('change', submit_runoff);
        $('#submit-runoff').on('click', confirm_runoff_call);

    });
</script>
{% endblock %}
