{% extends "base.html" %}

{% block content %}
<style type="text/css">
.page-title  {
    font-size: 32px;
    margin-top: 0;
}
h1 {
    margin-top: 60px;
}
h1 {
    font-size: 26px;
}
h2 small:after {
    content: "NYT";
    color: #aaa;
}
h2 small.accept_ap_calls:after {
    content: "AP";
    color: #aaa;
}
h2 small {
    cursor: pointer;
}
h2 {
    font-size: 21px;
    /*border-bottom:1px solid #CCC; */
    /*padding-bottom: 8px;*/
    margin-bottom: 8px;
}
table td {
    padding: 3px 6px 3px 0;
}
table td strong {
    color: #666;
    /*text-transform: uppercase;*/
    font-size: 14px;
    font-weight: 700;
}
.dem {
    color: #1a80c4;
}
.rep {
    color: #cc3d3d;
}
@media (min-width: 992px) {
    .col-md-3 {
        margin: 20px 0 0;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
    .col-md-3:nth-child(1),
    .col-md-3:nth-child(2),
    .col-md-3:nth-child(3),
    .col-md-3:nth-child(4) {
        border-top: none;
        margin-top: 0;
    }
}
</style>

<div id="alert-holder"></div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
        <h1 class="page-title">2016 General Election</h1>
    </div>
</div>

<div class="row" style="margin-bottom:30px;">
    <div class="col-md-10">
        <button class="btn btn-large btn-default script" data-script="reload"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;Reload</button>

        <button class="btn btn-large btn-default script" data-script="update"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Update</button>

        <button class="btn btn-large btn-default script" data-script="bake"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;&nbsp;Bake</button>

        <a href="archive/" style="margin-left: 10px;">To archive &rarr;</a>
    </div>
    <div class="col-md-2">
        <div class="input-group">
          <input id="value-timeout" type="text" class="form-control" value="{{ timeout }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="set-timeout">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;Set
            </button>
          </span>
        </div><!-- /input-group -->
    </div>
</div>
<!--
<div class="row" style="margin-bottom:10px;">

</div> -->

<h1>President: Key Races</h1>

<div class="row">
{% for state in prez_swing %}
<div
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    data-reportingunitid="{{ state.reportingunitid }}">

    <h2>
        {{ state.state_label }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <table>
        <tr>
            <td> <strong>AP</strong></td>
            <td> {% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-1746' and r.reportingunitid == state.reportingunitid and r.raceid == state.raceid %}<span class="dem">Clinton (D)</span>{% endif %}{% endfor %}{% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-8639' and r.reportingunitid == state.reportingunitid and r.raceid == state.raceid %}<span class="rep">Trump (R)</span>{% endif %}{% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>NYT</strong></td>
            <td>
                <select class="race-call">
                    <option value="">-- No winner --</option>
                    {% for c in prez_cands %}
                    {% if c.reportingunitid == state.reportingunitid %}
                    <option data-full-name="{{ c.first }} {{ c.last }}" value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id ==  c.candidate_unique_id and r.reportingunitid == state.reportingunitid  %} selected{% endif %}{% endfor %}>{{c.first}} {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

</div>
{% endfor %}
</div>

<h1>Senate: Key Races</h1>

<div class="row">
{% for state in senate_swing %}
<div
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    data-reportingunitid="{{ state.reportingunitid }}">

    <h2>
        {{ state.state_label }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <table>
        <tr>
            <td> <strong>AP</strong></td>
            <td>
                {% for c in senate_swing_cands %}
                    {% if c.race_unique_id == state.race_unique_id %}
                        {% for r in ap_winners %}
                            {% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %}
                            {% if c.party == "Dem" %}<span class="dem">
                            {% elif c.party == "GOP" %}<span class="rep">{% endif %}
                                {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})
                            </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>NYT</strong></td>
            <td>
                <select class="race-call">
                    <option value="">-- No winner --</option>
                    {% for c in senate_swing_cands %}
                    {% if c.reportingunitid == state.reportingunitid %}
                    <option data-full-name="{{ c.first }} {{ c.last }}" value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id ==  c.candidate_unique_id and r.reportingunitid == state.reportingunitid and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.first }} {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% else %}I{% endif %})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

</div>
{% endfor %}
</div>

<h1>President: Other Races</h1>

<div class="row">
{% for state in prez_other %}
<div
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    data-reportingunitid="{{ state.reportingunitid }}">

    <h2>
        {{ state.state_label }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

     <table>
        <tr>
            <td> <strong>AP</strong></td>
            <td> {% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-1746' and r.reportingunitid == state.reportingunitid and r.raceid == state.raceid %}<span class="dem">Clinton (D)</span>{% endif %}{% endfor %}{% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-8639' and r.reportingunitid == state.reportingunitid and r.raceid == state.raceid %}<span class="rep">Trump (R)</span>{% endif %}{% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>NYT</strong></td>
            <td>
                <select class="race-call">
                    <option value="">-- No winner --</option>
                    {% for c in prez_cands %}
                    {% if c.reportingunitid == state.reportingunitid %}
                    <option data-full-name="{{ c.first }} {{ c.last }}" value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id ==  c.candidate_unique_id and r.reportingunitid == state.reportingunitid and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.first }} {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% else %}I{% endif %})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

</div>
{% endfor %}
</div>

<h1>Senate: Other Races</h1>

<div class="row">
{% for state in senate_other %}
<div
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    data-reportingunitid="{{ state.reportingunitid }}">

    <h2>
        {{ state.state_label }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <table>
        <tr>
            <td> <strong>AP</strong></td>
            <td>
            {% for c in senate_other_cands %}
                {% if c.race_unique_id == state.race_unique_id %}
                    {% for r in ap_winners %}
                        {% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %}
                            {% if c.party == "Dem" %}<span class="dem">
                            {% elif c.party == "GOP" %}<span class="rep">{% endif %}
                                {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})
                            {% else %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>NYT</strong></td>
            <td>
                <select class="race-call">
                    <option value="">-- No winner --</option>
                    {% for c in senate_other_cands %}
                    {% if c.reportingunitid == state.reportingunitid %}
                    <option data-full-name="{{ c.first }} {{ c.last }}" value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id ==  c.candidate_unique_id and r.reportingunitid == state.reportingunitid and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.first }} {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>

    </table>

</div>
{% endfor %}
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function(){

        var pop_alert = function(headline, success){
            /*
                Message should have a key "output" that is a string.
            */
            message_text = "Failed; please check the logs."
            if (success == "0") {
                message_text = "Success."
            }
            var alert_text = '<div class="alert alert-danger" role="alert"><strong>'+ headline + '</strong>: ' + message_text + ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
            $('#alert-holder').html(alert_text);
            if (success == "0") {
                $('#alert-holder .alert').removeClass('alert-danger').addClass('alert-success')
            }
        }

        var run_server_script = function(data){
            /*
                Hit the route for running one of these three server scripts.
            */
            var script_type = $(this).attr('data-script');
            $.ajax({
                type: "GET",
                url: '/elections/2016/admin/{{ RACEDATE }}/script/' + script_type + '/',
                success: function(response){ 
                    pop_alert(script_type, response.output);
                    console.log(script_type);
                    console.log(response);
                },
                dataType: 'JSON'
            });
        }
        var set_loader_timeout = function(data){
            var timeout = $('#value-timeout').val();
            data = {};
            data['timeout'] = timeout;
            $.ajax({
                type: 'POST',
                data: data,
                url: '/elections/2016/admin/{{ RACEDATE }}/loader/timeout/',
                success: function(response){
                    pop_alert("Set timeout", response.output);
                },
                dataType: 'JSON'
            })
        }

        var call_race = function(candidate_unique_id, race_unique_id, reportingunitid, $el) {
            /*
            Passes logic for candidate race calling to Python.
            If candidate is null, that means we're uncalling a race.
            */
            var data = {
                candidate_unique_id: candidate_unique_id,
                race_unique_id: race_unique_id,
                statepostal: race_unique_id.split('-')[0],
                raceid: race_unique_id.split('-')[1],
                reportingunitid
            }

            console.log(data);

            $.ajax({
                type: "POST",
                url: '/elections/2016/admin/{{ RACEDATE }}/actions/call-race/',
                data: data,
                success: function(response){
                    if (data.candidate_unique_id) {
                        $el.parent('div').children('a').removeClass('winner');
                        $el.addClass('winner');
                        console.log(response);
                    } else {
                        $el.parent('div').children('a').removeClass('winner');
                        console.log(response);
                    }

                    // look up racetype + winner
                    var called = !!data.candidate_unique_id;
                    var raceType = $el.closest('.row').prev().text().split(':')[0];
                    var description = $el.closest('table').prev('h2').text().trim();
                    var qualifier = raceType === 'President' ? '' : 'the ' + raceType + ' race in ';
                    var message = null;
                    if (called) {
                      var $selected = $el.children('option:selected');
                      var winner = $selected.data('full-name') + ' ' + $selected.text().slice(-3); // party is last three characters
                      // generate the message
                      message = 'NYT called ' + qualifier + description + ' for ' + winner;
                    } else {
                      message = '*UNCALLED RACE* :siren: NYT _UNCALLED_ ' + qualifier + description;
                    }

                    var env = window.location.host.split('-')[2];
                    // make request to slack
                    $.ajax({
                      type: 'POST',
                      json: true,
                      url: '{{ SLACK_WEBHOOK_URL }}',
                      data: JSON.stringify({
                        text: ':siren: ' + message + ' <!here>',
                        channel: env === 'prd' ? '#race-calls' : '#race-calls-test',
                        username: 'NYT Race Calls'
                      })
                    });
                },
                dataType: 'JSON'
            });
        }

        var set_ap = function(accept_ap_calls, raceid, statepostal, officeid, reportingunitid, $el) {
            /*
            Passes logic for setting APs on / off for a particular race.
            Note: There is no "null" setting.
            */
            var data = {
                accept_ap_calls: accept_ap_calls,
                raceid: raceid,
                statepostal: statepostal,
                officeid: officeid,
                reportingunitid: reportingunitid
            };

            console.log(data);

            $.ajax({
                type: "POST",
                url: '/elections/2016/admin/{{ RACEDATE }}/actions/ap/',
                data: data,
                success: function(response){
                    if (data.accept_ap_calls) {
                        $el.addClass('accept_ap_calls');
                        console.log(response);
                    } else {
                        $el.removeClass('accept_ap_calls');
                        console.log(response);
                    }
                },
                dataType: 'JSON'
            });
        }

        var race_call_click = function(event) {
            /*
            Click handler for calling a race for a presidential candidate.
            Note: These are usually states.
            */
            $el = $(this)
            var candidate_unique_id = $el.children("option:selected" ).val();
            var raceid = $el.closest('table').parent('div').attr('data-raceid');
            var statepostal = $el.closest('table').parent('div').attr('data-statepostal');
            var reportingunitid = $el.closest('table').parent('div').attr('data-reportingunitid');
            var description = $el.closest('table').prev('h2').text().trim();
            var confirmation = "";
            if (candidate_unique_id == ''){
                candidate_unique_id = null;
                confirmation = "Are you sure you uncall " + description + "?";
            } else {
                var party = $el.children("option:selected" ).text().slice(-3);
                var name = $el.children('option:selected').data('full-name') + ' ' + party;
                confirmation = "Are you sure you want to call " + description + " for "  + name + "?";
            }
            if (!confirm(confirmation)) { return window.location.reload(); } ;
            call_race(candidate_unique_id, statepostal + '-' + raceid, reportingunitid, $el);
        }

        var ap_call_click = function(event) {
            /*
            Click handler for setting the AP on and off.
            */
            event.preventDefault();
            event.stopPropagation();

            $el = $(this)

            var raceid = $el.parent('h2').parent('div').attr('data-raceid');
            var statepostal = $el.parent('h2').parent('div').attr('data-statepostal');
            var officeid = $el.parent('h2').parent('div').attr('data-officeid');
            var reportingunitid = $el.parent('h2').parent('div').attr('data-reportingunitid');
            var accept_ap = !$(this).hasClass('accept_ap_calls');

            // for the confirmation message
            var description = $el.parent().text().trim();
            var raceType = $el.closest('.row').prev().text().split(':')[0];
            var verb = accept_ap ? 'take' : 'ignore';
            var qualifier = raceType === 'President' ? 'the Presidential race' : 'the ' + raceType + ' race';
            var confirmation = 'Are you sure you want to ' + verb + ' AP calls for ' + qualifier + ' in ' + description + '?';

            if (!confirm(confirmation)) { return window.location.reload(); };
            set_ap(accept_ap, raceid, statepostal, officeid, reportingunitid, $el);
        }

        $('select.race-call').change(race_call_click);
        $('h2 small').on('click', ap_call_click);
        $('button.script').on('click', run_server_script);
        $('#set-timeout').on('click', set_loader_timeout);

        // @TODO: Remove this from global scope later.
        window.callRaceTest_removeMe = call_race;
    });
</script>
{% endblock %}
