{% extends "base.html" %}

{% block content %}
<style type="text/css">
h1 {
    margin-top: 25px;
}
h2 small:after {
    content: "NYT calls";
    color: orange;
}
h2 small.accept_ap_calls:after {
    content: "AP calls";
    color: #aaa;
}
</style>

<div id="alert-holder"></div>

<div class="row" style="margin-bottom:20px;">
    <div class="col-md-12">
        <h1>2016 General Election</h1>
    </div>
</div>

<div class="row" style="margin-bottom:30px;">
    <div class="col-md-10">
        <button class="btn btn-large btn-default script" data-script="reload"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;&nbsp;Reload</button>

        <button class="btn btn-large btn-default script" data-script="update"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp;&nbsp;Update</button>

    </div>
    <div class="col-md-2">
        <div class="input-group">
          <input id="value-timeout" type="text" class="form-control" value="{{ timeout }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="set-timeout">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;Set
            </button>
          </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <a href="archive/">To archive &rarr;</a>
    </div>
</div>

<h1>President: Swing States</h1>

<div class="row">
{% for state in prez_swing %}
<div 
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    style="margin:20px 0;">

    <h2 style="border-bottom:1px solid #aaa; padding-bottom:8px;">
        {{ state.statepostal }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <p><strong>AP call</strong>: {% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-1746' and r.statepostal == state.statepostal and r.raceid == state.raceid %}Clinton (D){% endif %}{% endfor %}{% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-8639' and r.statepostal == state.statepostal and r.raceid == state.raceid %}Trump (R){% endif %}{% endfor %}</p>

    <p>
        <strong>NYT call</strong>: 
        <select class="race-call">
            <option value="">-- Pick a winner --</option>
            {% for c in prez_cands %}
            {% if c.statepostal == state.statepostal and c.raceid == state.raceid %}
            <option value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id ==  c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>

</div>
{% endfor %}
</div>

<h1>Senate: Swing States</h1>

<div class="row">
{% for state in senate_swing %}
<div 
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    style="margin:20px 0;">

    <h2 style="border-bottom:1px solid #aaa; padding-bottom:8px;">
        {{ state.statepostal }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <p>
        <strong>AP call</strong>:
        {% for c in senate_swing_cands %}
            {% if c.race_unique_id == state.race_unique_id %}
                {% for r in ap_winners %}
                    {% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %}
                        {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </p>

    <p>
        <strong>NYT call</strong>: 
        <select class="race-call">
            <option value="">-- Pick a winner --</option>
            {% for c in senate_swing_cands %}
            {% if c.race_unique_id == state.race_unique_id %}
            <option value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>

</div>
{% endfor %}
</div>

<h1>President: Lean Dem</h1>

<div class="row">
{% for state in prez_lean_gop %}
<div 
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    style="margin:20px 0;">

    <h2 style="border-bottom:1px solid #aaa; padding-bottom:8px;">
        {{ state.statepostal }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <p><strong>AP call</strong>: {% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-1746' and r.statepostal == state.statepostal and r.raceid == state.raceid %}Clinton (D){% endif %}{% endfor %}{% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-8639' and r.statepostal == state.statepostal and r.raceid == state.raceid %}Trump (R){% endif %}{% endfor %}</p>

    <p>
        <strong>NYT call</strong>: 
        <select class="race-call">
            <option value="">-- Pick a winner --</option>
            {% for c in prez_lean_dem_cands %}
            {% if c.statepostal == state.statepostal and c.raceid == state.raceid %}
            <option value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id ==  c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>

</div>
{% endfor %}
</div>

<h1>President: Lean GOP</h1>

<div class="row">
{% for state in prez_lean_gop %}
<div 
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    style="margin:20px 0;">

    <h2 style="border-bottom:1px solid #aaa; padding-bottom:8px;">
        {{ state.statepostal }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <p><strong>AP call</strong>: {% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-1746' and r.statepostal == state.statepostal and r.raceid == state.raceid %}Clinton (D){% endif %}{% endfor %}{% for r in ap_winners %}{% if r.candidate_unique_id == 'polid-8639' and r.statepostal == state.statepostal and r.raceid == state.raceid %}Trump (R){% endif %}{% endfor %}</p>

    <p>
        <strong>NYT call</strong>: 
        <select class="race-call">
            <option value="">-- Pick a winner --</option>
            {% for c in prez_lean_gop_cands %}
            {% if c.statepostal == state.statepostal and c.raceid == state.raceid %}
            <option value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id ==  c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>

</div>
{% endfor %}
</div>

<h1>Senate: Lean Dem</h1>

<div class="row">
{% for state in senate_lean_dem %}
<div 
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    style="margin:20px 0;">

    <h2 style="border-bottom:1px solid #aaa; padding-bottom:8px;">
        {{ state.statepostal }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <p>
        <strong>AP call</strong>:
        {% for c in senate_lean_dem_cands %}
            {% if c.race_unique_id == state.race_unique_id %}
                {% for r in ap_winners %}
                    {% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %}
                        {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </p>

    <p>
        <strong>NYT call</strong>: 
        <select class="race-call">
            <option value="">-- Pick a winner --</option>
            {% for c in senate_lean_dem_cands %}
            {% if c.race_unique_id == state.race_unique_id %}
            <option value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>

</div>
{% endfor %}
</div>

<h1>Senate: Lean GOP</h1>

<div class="row">
{% for state in senate_lean_gop %}
<div 
    class="col-md-3"
    data-officeid="{{ state.officeid }}"
    data-statepostal="{{ state.statepostal }}"
    data-raceid="{{ state.raceid }}"
    style="margin:20px 0;">

    <h2 style="border-bottom:1px solid #aaa; padding-bottom:8px;">
        {{ state.statepostal }}
        <small{% if state.accept_ap_calls %} class="accept_ap_calls"{% endif %}></small>
    </h2>

    <p>
        <strong>AP call</strong>:
        {% for c in senate_lean_gop_cands %}
            {% if c.race_unique_id == state.race_unique_id %}
                {% for r in ap_winners %}
                    {% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %}
                        {{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </p>

    <p>
        <strong>NYT call</strong>: 
        <select class="race-call">
            <option value="">-- Pick a winner --</option>
            {% for c in senate_lean_gop_cands %}
            {% if c.race_unique_id == state.race_unique_id %}
            <option value="{{ c.candidate_unique_id }}"{% for r in nyt_winners %}{% if r.candidate_unique_id == c.candidate_unique_id and r.statepostal == state.statepostal and r.raceid == state.raceid %} selected{% endif %}{% endfor %}>{{ c.last }} ({% if c.party == "Dem" %}D{% elif c.party == "GOP" %}R{% endif %})</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>

</div>
{% endfor %}
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    $(function(){

        var call_race = function(candidate_unique_id, race_unique_id, $el) {
            /*
            Passes logic for candidate race calling to Python.
            If candidate is null, that means we're uncalling a race.
            */
            var data = {
                candidate_unique_id: candidate_unique_id,
                race_unique_id: race_unique_id,
                statepostal: race_unique_id.split('-')[0],
                raceid: race_unique_id.split('-')[1]
            }

            console.log(data);

            $.ajax({
                type: "POST",
                url: '/elections/2016/admin/{{ RACEDATE }}/actions/call-race/',
                data: data,
                success: function(response){
                    if (data.candidate_unique_id) {
                        $el.parent('div').children('a').removeClass('winner');
                        $el.addClass('winner');
                        console.log(response);
                    } else {
                        $el.parent('div').children('a').removeClass('winner');
                        console.log(response);
                    }
                },
                dataType: 'JSON'
            });
        }

        var set_ap = function(accept_ap_calls, raceid, statepostal, officeid, $el) {
            /*
            Passes logic for setting AP calls on / off for a particular race.
            Note: There is no "null" setting.
            */
            var data = {
                accept_ap_calls: accept_ap_calls,
                raceid: raceid,
                statepostal: statepostal,
                officeid: officeid
            };

            console.log(data);

            $.ajax({
                type: "POST",
                url: '/elections/2016/admin/{{ RACEDATE }}/actions/ap/',
                data: data,
                success: function(response){
                    if (data.accept_ap_calls) {
                        $el.addClass('accept_ap_calls');
                        console.log(response);
                    } else {
                        $el.removeClass('accept_ap_calls');
                        console.log(response);
                    }
                },
                dataType: 'JSON'
            });
        }

        var race_call_click = function(event) {
            /*
            Click handler for calling a race for a presidential candidate.
            Note: These are usually states.
            */
            $el = $(this)

            var candidate_unique_id = $el.children("option:selected" ).val();
            var raceid = $el.parent('p').parent('div').attr('data-raceid');
            var statepostal = $el.parent('p').parent('div').attr('data-statepostal');

            if (candidate_unique_id == ''){ candidate_unique_id = null };

            call_race(candidate_unique_id, statepostal + '-' + raceid, $el);

        }

        var ap_call_click = function(event) {
            /*
            Click handler for setting the AP on and off.
            */
            event.preventDefault();
            event.stopPropagation();

            $el = $(this)

            var raceid = $el.parent('h2').parent('div').attr('data-raceid');
            var statepostal = $el.parent('h2').parent('div').attr('data-statepostal');
            var officeid = $el.parent('h2').parent('div').attr('data-officeid');

            if ($(this).hasClass('accept_ap_calls')) {
                set_ap(false, raceid, statepostal, officeid, $el);
            } else {
                set_ap(true, raceid, statepostal, officeid, $el);
            }
        }

        $('select.race-call').change(race_call_click);
        $('h2 small').on('click', ap_call_click);
        // var submit_state = function(data){
        //     /*
        //         Submit the current state of a race in the form.
        //     */
        //     var statepostal = $(this).attr('data-state');
        //     var data = {};

        //     data['report'] = $('#state-' + statepostal + ' input.state-report-toggle').prop('checked');
        //     data['report_description'] = $('#state-' + statepostal + ' textarea.report-description').val()

        //     console.log(data);

        //     $.ajax({
        //         type: "POST",
        //         url: '/elections/2016/admin/{{ RACEDATE }}/state/' + statepostal + '/',
        //         data: data,
        //         success: function(response){  },
        //         dataType: 'JSON'
        //     });
        // };

    });
</script>
{% endblock %}